@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* heading style css */
.banner-container {
  width: 1920px;
  height: 850px;
  display: flex;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-container .banner-content {
  width: 708px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* right side image stlye */
.right-image {
  width: 635px;
  height: 800px;
  margin-top: 50px;
  margin-right: 240px;
}
